.Rproj.user
.Rhistory
.RData
*.pdf
*.png
*.eps
*.exe
fort.*
*.tar.gz
*.o
Code/simulating_dynamics_in_R/server_code/*_*_*_code.R
Code/simulating_dynamics_in_R/*_*_code.R*
.ropeproject/*
.spyderproject/*
.spyderproject
Manuscript/*
Output/*
data/*.csv
Code/scripts/*
Code/simulating_dynamics_in_R/tritrophsim/*